<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Mochi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">mochi</a>
				<nav id="nav">
					<a href="/">Home</a>
					<a href="/ingredients">Add Ingredients</a>
				</nav>
			</div>
		</header>
		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<section id="two">
				<div class="inner">
					<h5>Disregard the issue with the summary please. I may come back to this project in the future and fix it. I may not. But for now, the summary will remain a bit funky :)</h5>
				</div>
			</section>

		<!-- Main -->
		<section id="main" >
			<div class="inner">
				<header class="major special">
					<h1><%= title %></h1>
				</header>
			</div>
			<br/>
			<div class="inner">
				<header>
					<h3>Summary</h3>
				</header>
				<script>
					let editSummary = '<p>'+'<%= summary %>'+'</p>';
					document.write(editSummary);
				</script>
			</div>
			<div class="inner">
				<header>
					<h3>Ingredients</h3>
				</header>
				<% for (let value of ingredients) { %>
					<p><%= value %></p>
				<% } %>
			</div>
			<div class="inner">
				<header>
					<h3>Preparation</h3>
				</header>
				<% for (let step of steps) { %>
					<p style="color:#717171"><b>STEP <%= step.number %></b></p> 
					<p style="color:black"><%= step.step %></p>
				<% } %>
			</div>
		</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Credits</h2>
					</header>
					<div class="copyright">
						Developer: Kylie Mahal Eugenio Quan
						<br/>
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/ingredients.js"></script>
	</body>
</html>