<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Mochi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">mochi</a>
				<nav id="nav">
					<a href="/">Home</a>
					<a href="/ingredients">Add Ingredients</a>
				</nav>
			</div>
		</header>
		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
		<section id="main" >
			<div class="inner">
				<header class="major special">
					<h1>Recipes</h1>
				</header>
				<form action='http://localhost:3000/recipeInformation' method='POST' class='inline'>
					<% for (let [key,value] of recipe_list) { %>
						<br/>
						<button name='recipe' type='submit' value='<%= key %>' class='link-button'>
							<%= value %>
						</button>
						<br/>
					<% } %>
				</form>

			</div>
		</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Credits</h2>
					</header>
					<div class="copyright">
						Developer: Kylie Mahal Eugenio Quan
						<br/>
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/ingredients.js"></script>
	</body>
</html>